/**
 * FOR EssayController SCSS 
 * 2015-08-21 04:08:28
 */
.base .help {
  background: red; }

.base .pig {
  width: 20px; }

.base .fuck {
  color: red; }

.base:hover {
  font-size: 12px; }

body {
  background-color: white; }
