<!-- 
    FOR SAILS CONTOLLER TechController TEMPLATE 
    2015-08-23 07:08:49
-->


{% extends 'common/base.html' %}
{% block title %} TechController Page {% endblock %}
{% block css %}
<!-- @SOURCE@scss: "/static/scss/tech/main.scss" -->
<link rel="stylesheet" type="text/css" href="/static/css/tech/main.css">
{% endblock %}

{% block body %}

<p>
    I am tech.html
</p>

<!-- @SOURCE@es6: "/static/es6/tech/main.es6" -->
<script type="text/javascript" src="/static/js/tech/main.js"></script>
{% endblock %}