<!-- 
    FOR SAILS CONTOLLER EssayController TEMPLATE 
    2015-08-24 01:08:37
-->


{% extends 'common/base.html' %}
{% block title %} EssayController Page {% endblock %}
{% block css %}
<!-- @SOURCE@scss: "/static/scss/essay/main.scss" -->
<link rel="stylesheet" type="text/css" href="/static/css/essay/main.css">
{% endblock %}

{% block body %}

<p>
    I am essay.html
</p>

<!-- @SOURCE@es6: "/static/es6/essay/main.es6" -->
<script type="text/javascript" src="/static/js/essay/main.js"></script>
{% endblock %}