.trans {
  -webkit-transition-duration: .5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: initial;
  -moz-transition-duration: .5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: initial;
  -o-transition-duration: .5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: initial;
  -ms-transition-duration: .5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: initial; }
