<!-- 
    FOR SAILS CONTOLLER TestaController TEMPLATE 
    2015-08-25 05:08:53
-->

{% extends 'common/base.html' %}
{% block title %} TestaController Page {% endblock %}
{% block css %}
<!-- @SOURCE@scss: "/static/scss/testa/main.scss" -->
<link rel="stylesheet" type="text/css" href="/static/css/testa/main.css">
{% endblock %}

{% block body %}

<p>
    I am testa.html
</p>

<!-- @SOURCE@es6: "/static/es6/testa/main.es6" -->
<script type="text/javascript" src="/static/js/testa/main.js"></script>
{% endblock %}
