<!-- 
    FOR SAILS CONTOLLER AboutController TEMPLATE 
    2015-08-24 01:08:21
-->

{% extends 'common/base.html' %}
{% block title %} AboutController Page {% endblock %}
{% block css %}
<!-- @SOURCE@scss: "/static/scss/about/main.scss" -->
<link rel="stylesheet" type="text/css" href="/static/css/about/main.css">
{% endblock %}

{% block body %}

<p>
    I am about.html
</p>

<!-- @SOURCE@es6: "/static/es6/about/main.es6" -->
<script type="text/javascript" src="/static/js/about/main.js"></script>
{% endblock %}